{% extends 'base.html' %}

{% block titulo %}
    Search Products
{% endblock %}

{% block contenido_que_cambia %}
    {% for product in products %}
        <div class="card" style="width: 18rem;">
            {% if product.image %}
                <img src="{{product.image.url}}" class="card-img-top" alt="dulce-de-leche">
            {% else %}
                <img src="https://t2.rg.ltmcdn.com/es/posts/4/0/3/dulce_de_leche_argentino_8304_600_square.jpg" class="card-img-top" alt="dulce-de-leche">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{product.name}}</h5>
                <h6>Categoria: {{product.category}}</h6>
                <h6>Precio: u$s {{product.price}}</h6>
                <p class="card-text">{{product.description}}</p>
                <a href="#" class="btn btn-primary">Comprar</a>
            </div>
        </div> 
    {% endfor %}
{% endblock %}